[run]
source = src
omit =
    src/blitz/common/__tests__/*
    src/blitz/pos_extrapolator/__tests__/*
    */__init__.py
    src/blitz/generated/*
    src/blitz/example/*
    src/blitz/rust/*
    src/blitz/rust/*

[report]
exclude_lines =
    if __name__ == .__main__.: