--find-links https://tortall.net/~robotpy/wheels/2023/raspbian/
--prefer-binary

asyncio
autobahn_client
colorama
dataclasses
filterpy
fix-protobuf-imports
flask
mypy-protobuf
netifaces
numpy
peewee
protobuf
psutil
pyapriltags
pydantic
pytest
robotpy-cscore
scipy
zeroconf
thrift>=0.22.0
opencv-python-headless