colorama
numpy
opencv-python
ultralytics
pyapriltags
requests
dataclasses
Flask
nats-py
asyncio
nest_asyncio
flask-socketio
websockets
pydantic
flask-cors
pyvista
pygame
pyserial
filterpy
protobuf
ruff
rplidar-roboticia
pyinstrument
protoletariat
psutil
plotly
dash
pytest
pyvistaqt
ursina
robotpy
robotpy-cscore
autobahn_client==0.1.2
rich
zeroconf
fix-protobuf-imports
netifaces
gtsam
coverage
peewee