[Unit]
Description=Watchdog Service
After=network.target

[Service]
Type=simple
User=ubuntu
Environment=PROJECT_DIR=%h/Documents/BLITZ
WorkingDirectory=%h/Documents/BLITZ
ExecStart=%h/Documents/BLITZ/scripts/startup.bash
Restart=always
RestartSec=3
StandardOutput=append:%h/Documents/BLITZ/logs/startup.log
StandardError=append:%h/Documents/BLITZ/logs/startup.error.log

[Install]
WantedBy=multi-user.target 